<div class="container">
  <h1 class="mt-4">Clientes</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consultar clientes</li>
  </ol>

    <div class="row mb-3">
        <div class="col-md-2">
          <a routerLink='/form-customer'>
          <button class="btn btn-primary">
            <i class="fa fa-plus"></i>
          </button>
          </a>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="alert alert-success" role="alert" *ngIf="success">
              Cliente deletado com sucesso!
          </div>
          <div class="alert alert-danger" role="alert" *ngFor="let error of errors">
              {{error}}
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Data de Cadastro</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
              <td>{{ customer.id }}</td>
              <td>{{ customer.name }}</td>
              <td>{{ customer.cpf }} </td>
              <td>{{customer.registrationDate }}</td>
              <td><button class="btn btn-primary" routerLink='/form-customer/{{customer.id}}'><i class="fa fa-edit"></i></button></td>
              <td><button class="btn btn-danger" (click)="updateCustomerSelected(customer)" data-toggle="modal" data-target="#modalDelecao"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="modalDelecao" class="modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Deletar cliente</h4>
          </div>
          <div class="modal-body" *ngIf="customerSelected">
            Tem certeza que deseja excluir o cliente{{ customerSelected.name }}?
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" data-dismiss="modal" (click)="onDelete()">Confirmar</button>
            <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
</div>